$sans: 'Oswald', sans-serif;
$serif: 'Neuton', serif;
$green: #029483;
$green-gray: desaturate(lighten($green, 5%), 35%);
$white: #f4f4f4;
$border: #e9e7e7;

@mixin round($radius) {
  -webkit-border-radius: $radius; 
          border-radius: $radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
@mixin gradient($top, $bottom, $fallback: "imgs/fallback.png") {
  background-color: $top;
  background-image: url($fallback);
  background-position: 0 0;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from($top), to($bottom)); 
  background-image: -webkit-linear-gradient(top, $top, $bottom); 
  background-image:    -moz-linear-gradient(top, $top, $bottom); 
  background-image:      -o-linear-gradient(top, $top, $bottom); 
  background-image:         linear-gradient(to bottom, $top, $bottom);
}

@mixin trans($type, $speed: 0.3s) {
  -webkit-transition: $type $speed linear;
     -moz-transition: $type $speed linear;
       -o-transition: $type $speed linear;
          transition: $type $speed linear;
}

/*  
Theme Name: Jamielyn
Theme URI: http://jamielynsmith.com
Description: Theme designed by Jamielyn Smith.
Author: <a href="http://cranderveldt.com">Cranderveldt</a>   
Author URI: http://cranderveldt.com
Version: 1.0 
License: Copyright (c) 2012 Jamielyn Smith
License URI: http://jamielynsmith.com
*/
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
  display:block;
}
/*End Reset*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

blockquote p { line-height: 2em; }
a { 
  color: $green;
  text-decoration: none; 
  &:hover {
    color: lighten($green, 25%);
    text-decoration: none;
  }
}
h1 { font-size: 36px; margin-bottom: 15px; font-family: $serif; }
h2 { font-size: 28px; margin-bottom: 15px; font-family: $serif; }
h3 { font-size: 24px; margin-bottom: 5px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; text-transform: uppercase; margin-bottom: 5px; }
h6 { font-size: 14px; }
br { display: none; }
span.ss-icon {
  position: relative;
}
.comments, .post-edit-link { display: none; }
body {
  background: $white;
  font-family: $sans;
  font-size: 16px;
  line-height: 1.7;
}
.max960 {
  max-width: 960px;
  margin: 0 auto;
}
.pad20 {
  padding: 20px;
}
header {
  background: $white;
  color: white;
  a {
    color: #464646;
    &:hover {
      color: #111;
    }
  }
  h1 {
    font-family: $sans;
    font-weight: normal;
    font-size: 28px;
    margin: 0;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
  }
  small {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  nav {
    ul li {
      &.menu-item-14 {
        display: none;
      }
      a {
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        font-size: 14px;
        position: relative;
        text-align: right;
        &:hover {
          color: #111;
          span.title {
            display: block;
          }
        }
        span.ss-icon {
          position: relative;
          top: 3px;
          font-size: 24px;
        }
        span.title {
          position: absolute;
          background: darken($green, 15%);
          @include round(4px);
          padding: 5px;
          display: none;
          top: -40px;
          left: -50%;
          margin-left: 26px;
          color: #FFF;
          &:after {
            content: "";
            position: absolute;
            left: 50%;
            width: 0;
            height: 0;
            bottom: -8px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid darken($green, 15%);;
            margin-left: -8px;
          }
        }
      }
    }
  }
}
#container {
  padding: 0;
}
#content {
  .hero {
    background: $green;
  }
  .entry {
    margin-bottom: 20px;
  }
  h2 {
    font-size: 30px;
    color: $green;
  }
  h5 {
    color: $green;
  }
  p {
    color: $green-gray;
  }
  a.more {
    font-size: 14px;
    span.ss-icon {
      font-size: 8px;
      top: 0;
      margin-left: 4px;
      @include trans(left, 0.1s);
    }
    &:hover span.ss-icon {
      left: 4px;
    }
  }
}
#sidebar {
  display: none;
}
footer {
  font-size: 12px;
  border-top: 1px solid #e3e1e1;
  padding-top: 20px;
}
/* Page specific stuff */
.body-2 {
  h2.page-title {
    display: none;
  }
}
/* Responsive stuff */
@media (max-width: 767px) {
  
}